@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

* {
  font-family: 'Maven Pro', sans-serif;
}

header {
  padding: 10px 0;
  background-color: silver;
}

img {
  margin: 10px 0;
  height: 350px;
  width: 370px;
  border-radius: 100%;
}

p {
  padding: 20px 0;
  background-color: silver;
}

footer {
  padding: 10px 0;
  background-color: silver;
}
